input {
    display: inline;
}

html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
   margin: 0px;
   min-height: 100%;
   width: 100%;
}

#setup {
    text-align: center;
}

#canvas-parent {
    position: absolute;
    top: 10px; 
    right: 0; 
    bottom: 0; 
    left: 0;
}



#my-canvas {
    margin: 0 auto;
    display: block;
    height: 100%;
}
